@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
.txt1{
    font-size: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.txt2{
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.txt3{
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}